<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title_actual.label(class="form-control-label") }}
                    {% if form.title_actual.errors %}
                        {{ form.title_actual(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title_actual.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title_actual(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.category_actual.label(class="form-control-label") }}
                    {% if form.category_actual.errors %}
                        {{ form.category_actual(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.category_actual.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.category_actual(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.actual_amount_name.label(class="form-control-label") }}
                    {% if form.actual_amount_name.errors %}
                        {{ form.actual_amount_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.actual_amount_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.actual_amount_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.actual_amount.label(class="form-control-label") }}
                    {% if form.actual_amount.errors %}
                        {{ form.actual_amount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.actual_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.actual_amount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.date_posted.label(class="form-control-label") }}
                    {% if form.date_posted.errors %}
                        {{ form.date_posted(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date_posted.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date_posted(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.comments.label(class="form-control-label") }}
                    {% if form.comments.errors %}
                        {{ form.comments(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comments.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comments(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="'form-group">
                {{ form.submit(class="btn btn=outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}